        body {
            background: url("../img/game_background10.png");
            /*background-color: #f7b2ce;*/
        }


        #message h3 {
            font: 30px "Arial" sans-serif;
            color: #FD3F72;
            text-align: center;
            margin-bottom: 40px;
        }
        #myCanvas {
            margin-top: 13px;
            margin-left: 30px;
            float: left;
        }
        #boxesArrowsButtons {
            float: left;
            margin-top: 80px;
        }
        #codeBoxes {
            height: 56px;
            width: 374px;
            background-color: #36cc5d;
        }
        .codeBox {
            height: 50px;
            width: 50px;
            background-color: #5ffa88;
            float: left;
            margin-top: 3px;
            margin-left: 3px;
        }
        #arrows {
            height: 160px;
            width: 230px;
            background-color: #44c8e7;
            border: 3px solid #0caace;
            /*margin-left: 30px;*/
            margin-top: 30px;
            float: left;
        }
        #buttons {
            float: left;
            padding-top: 20px;

        }
        .arrow {
            height: 50px;
            width: 50px;
            float: left;
            margin-left: 20px;
            margin-top: 20px;
        }
        .button {
            height: 40px;
            width: 82px;
            font: 26px "Arial" sans-serif;
            text-align: center;
            border-radius: 5px;
            margin: 15px;
            margin-left: 30px;
            color: black;
            padding-top: 7px;
        }
        .go {
            background-color: #5ffa88;
            border: 3px solid #36cc5d;
        }
        .save {
            background-color: #ec70f9;
            border: 3px solid #db00f2;
        }