        #message {
            margin-left: 40px;
            margin-top: 20px;
            font: 18px "Arial" sans-serif;
        }
        #myCanvas {
            margin-left: 30px;
        }
        #codeBoxes {
            margin-left: 30px;
            height: 56px;
            width: 374px;
            background-color: DeepSkyBlue;
        }
        .codeBox {
            height: 50px;
            width: 50px;
            background-color: LightBlue;
            float: left;
            margin-top: 3px;
            margin-left: 3px;
        }
        #arrowsbuttons {
            width: 378px;
            height: 170px;
        }
        #arrows {
            height: 160px;
            width: 230px;
            background-color: #bbffbb;
            border: 3px solid #88ff88;
            margin-left: 30px;
            margin-top: 30px;
            float: left;
        }
        .arrow {
            height: 50px;
            width: 50px;
            float: left;
            margin-left: 20px;
            margin-top: 20px;
        }
        .button {
            height: 40px;
            width: 80px;
            font: 23px "Arial" sans-serif;
            text-align: center;
            border-radius: 5px;
            margin: 20px;
        }
        .go {
            background-color: #bbffbb;
            border: 3px solid #88ff88;
        }
        .save {
            background-color: LightBlue;
            border: 3px solid DeepSkyBlue;
        }