<!DOCTYPE html>

<html>
<head>
    <title>Ava's Game</title>
    <link href="../static/css/main.css" rel="stylesheet">
</head>
    <body>
        <div id="canvasContainer">
            <div id="message">
            </div>
            <canvas id= "myCanvas" width="500" height="500"></canvas>
            <script src="../static/js/canvas.js"></script>
        </div>
        <div id="codeBoxes">
            <div class="codeBox"></div>
            <div class="codeBox"></div>
            <div class="codeBox"></div>
            <div class="codeBox"></div>
            <div class="codeBox"></div>
            <div class="codeBox"></div>
            <div class="codeBox"></div>
        </div>
        <div id="arrowsbuttons">
            <div id="arrows">
                <img src="http://i.imgur.com/jFlM0wy.png" class="arrow down"></img>
                <img src="http://i.imgur.com/ftOgzLm.png" class="arrow up"></img>
                <img src="http://i.imgur.com/0bN0OjD.png" class="arrow loop"></img>
                <img src="http://i.imgur.com/6IyQk2a.png" class="arrow right"></img>
                <img src="http://i.imgur.com/PZAl1GC.png" class="arrow left"></img>
            </div>
            <form>
                <input type="submit" class="go button" value="go">
                <input type="submit" class="save button" value="save">
            </form>
        </div>

    </body>
</html>