<!DOCTYPE html>

<html>
<head>
    <title>Ava's Game</title>
    <link href="../static/css/main.css" rel="stylesheet">
</head>
    <body>
        <div id="canvasContainer">

            <div id="message">
            </div>
            <a href="{{url_for('logout')}}">Log out</a>
            <canvas id= "myCanvas" width="500" height="500"></canvas>
        </div>
        <div id="codeBoxes">
            <div class="codeBox box0 ui-widget-header snaptarget"></div>
            <div class="codeBox box1 ui-widget-header snaptarget"></div>
            <div class="codeBox box2 ui-widget-header snaptarget"></div>
            <div class="codeBox box3 ui-widget-header snaptarget"></div>
            <div class="codeBox box4 ui-widget-header snaptarget"></div>
            <div class="codeBox box5 ui-widget-header snaptarget"></div>
            <div class="codeBox box6 ui-widget-header snaptarget"></div>
        </div>
        <div id="arrowsbuttons">
            <div id="arrows">
                <img src="http://i.imgur.com/jFlM0wy.png" class="ui-widget-content arrow down"></img>
                <img src="http://i.imgur.com/ftOgzLm.png" class="ui-widget-content arrow up"></img>
                <img src="http://i.imgur.com/0bN0OjD.png" class="ui-widget-content arrow loop"></img>
                <img src="http://i.imgur.com/6IyQk2a.png" class="ui-widget-content arrow right"></img>
                <img src="http://i.imgur.com/PZAl1GC.png" class="ui-widget-content arrow left"></img>
            </div>
            <div id="buttons">
                <div class="go button">go</div>
                <br>
                <div class="save button">save</div>
            </div>
        </div>
        <script type="text/javascript" src="../static/js/jquery-2.0.3.min.js "></script>
        <script type="text/javascript" src="../static/js/jquery-ui-1.10.3.custom.min.js "></script>
        <script src="../static/js/canvas.js"></script>
        <script type="text/javascript">
            var currentLevel = {{user.current_level}};
            var level = new Level("{{level.map}}", "{{level.petStart}}", "{{level.treatPos}}");
            var mrSnuffles = new Pet("{{user.pettype}}", "{{user.petname}}", "{{user.petgender}}", level);
            var currentBoard = new GameBoard(level);
        </script>
    </body>
</html>