{% extends 'base.html' %}
    {% block body %}
    <div class="maincontainer">
        <div class="maincontent">
            <h1><center>fluffyTrails</center></h1>

            <h2 class="signin-heading">Login</h2>
            <p>{{ error }}</p>
            <form action="/login" class="signin" method="POST">
                Username: <input type="text" class="form-control" name="username"><br>
                Password: <input type="password" class="form-control" name="password"><br>
                <input type="submit" class="btn" value="Sign In">
            </form>

            <br><br>

            <h2 class="signin-heading">New to fluffyTrails?</h2>
            <form action="/register" class="signin" method="POST">
                <input type="submit" class="btn" value="Sign up and start playing!">
            </form>
        </div>
    </div>
    {% endblock %}