{% extends "base.html" %}
{% block body %}
<div class="maincontainer">
        <div class="maincontent">
            <h1><center>Want to play fluffyTrails?</center></h1>

            <h2 class="signin-heading">Sign Up Here</h2>
            <p>{{ error }}</p>
            <form action="/create_account" class="signin" method="POST">
                Choose a username: <input type="text" class="form-control" name="username"><br><br>
                Choose a password: <input type="password" class="form-control" name="password"><br><br>
                Choose a pet: <br>
                    <input type="radio" value="bunny" name="pettype"> <img src="http://i.imgur.com/3V353g6.png">
                    <input type="radio" value="dog" name="pettype"> <img src="http://i.imgur.com/SImMv4T.png">
                    <input type="radio" value="penguin" name="pettype"> <img src="http://i.imgur.com/xBJDNUs.png"><br><br>
                Name your pet: <input type="text" class="form-control" name="petname"><br><br>
                Is your pet a boy <input type="radio" value="m" name="petgender"> or a girl <input type="radio" value="f" name="petgender"> ? <br>
                <input type="submit" class="btn" value="Start Playing!">
        </div>
    </div>
{% endblock %}