{% extends "base.html" %}
{% block body %}
    <div class="main-logo-container">
        <img id="main-logo" src="../static/img/clouds.png">
    </div>
    <div class="main-content">
        <h2 class="signin-heading">Sign Up And Play!</h2><br>
        <p>{{ error }}</p>
        <form action="/create_account" class="signin" method="POST">
            Choose a username: <input type="text" class="form-control" name="username"><br><br>
            Choose a password: <input type="password" class="form-control" name="password"><br><br>
            Choose a pet: <br>
                <input type="radio" value="koala" name="pettype"> <img src="../static/img/koala.png">
                <input type="radio" value="dog" name="pettype"> <img src="../static/img/dog.png">
                <input type="radio" value="penguin" name="pettype"> <img src="../static/img/penguin.png"><br><br>
            Name your pet: <input type="text" class="form-control" name="petname"><br><br>
            <!-- Is your pet a boy <input type="radio" value="m" name="petgender"> or a girl <input type="radio" value="f" name="petgender"> ? <br><br> -->
            <input type="submit" class="btn" value="Start Playing!">
        </form>
    </div>
{% endblock %}