{% extends 'base.html' %}
    {% block body %}
        <div class="main-logo-container">
            <img id="main-logo" src="../static/img/clouds.png">
        </div>
        <div class="main-content" id="tutorial-text">
            <h3>Coming Soon: An Actual Tutorial</h3><br>
            <h4>How to Play Fluffy Trails:</h4><br>
            <p>Your pet needs help reaching its treat! Drag the purple arrows into the instructions bar above and click the go button. Then watch as your pet follows the directions you gave.
            </p>
        </div>
    {% endblock %}